@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
body {
  min-width: 447px;
}

.jumbotron {
  background-image: url("../images/desktop/image-hero.jpg");
  padding-bottom: 288px;
  margin-bottom: 160px;
}

.jumbotron nav {
  padding-top: 64px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jumbotron nav a {
  display: inline-block;
  margin-left: 1%;
  color: white;
  text-decoration: none;
  position: relative;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  width: 80%;
  height: auto;
}

.header .interactive {
  margin-left: 80px;
  margin-top: -80px;
}

.header .text_interactive {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -300px;
  margin-left: 650px;
}

.header .text_interactive h2 {
  display: inline-block;
  width: 50%;
  height: 50%;
  justify-items: left;
  margin: 50px;
  padding-bottom: 10px;
}

.header .text_interactive p {
  width: 50%;
  height: 80%;
  justify-items: left;
  margin: 30px;
  padding: 30px;
}

.creations {
  width: 100%;
  margin-top: -250px;
  margin-bottom: -30px;
  margin-left: 50px;
}

.creations h2 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  margin-left: 30px;
}

.creations h2 button {
  float: right;
  margin-right: 130px;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 40px;
}

.content .content-item {
  width: 20%;
  height: 400px;
  margin: 30px 30px 30px 0.5%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .content-item h4 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 50px;
  left: 40px;
  color: white;
  bottom: 50px;
}

.content .content-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .image {
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 30px;
  height: auto;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.content:nth-child(1) .image {
  background-image: url(image);
}

.content:nth-child(2) .image {
  background-image: url(image);
}

.content:nth-child(3) .image {
  background-image: url(image);
}

.content:nth-child(4) .image {
  background-image: url(image);
}

.content:nth-child(5) .image {
  background-image: url(image);
}

.content:nth-child(6) .image {
  background-image: url(image);
}

.content:nth-child(7) .image {
  background-image: url(image);
}

.content:nth-child(8) .image {
  background-image: url(image);
}

footer {
  padding-top: 70px;
  padding-bottom: 75px;
  background-color: black;
}

footer #footer-logo {
  margin-bottom: 33px;
}

footer #footer-links {
  list-style-type: none;
}

footer #footer-links li a {
  color: white;
  text-decoration: none;
}

footer #footer-text {
  color: #7a7a7a;
}

footer #footer-text a {
  color: aqua;
}

@media screen and (max-width: 478px) {
  .clear {
    clear: left;
  }
  .container {
    width: 100%;
    display: block;
    background-size: cover;
  }
  .container #hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container nav a {
    display: none;
  }
  .container h1 {
    width: 80%;
    height: auto;
    color: white;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
  }
  body {
    text-align: center;
  }
  .header {
    width: 100%;
  }
  .header .interactive {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .header .text_interactive {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: -10px;
    left: -600px;
  }
  .header .text_interactive h2 {
    top: -10px;
    text-align: center;
    position: absolute;
    margin: 20px;
  }
  .header .text_interactive p {
    bottom: -300px;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    text-align: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .header .creations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .header .content-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #footer-links {
    text-align: center;
  }
  #footer-links li {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .hide-mobile {
    display: none;
  }
  .nav-links {
    display: none;
  }
  #social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    margin: 45px auto 27px auto;
  }
}

@media screen and (min-width: 1280px) {
  .hide-desktop {
    display: none;
  }
  .jumbotron {
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-bottom: 145px;
  }
  .jumbotron nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jumbotron nav #logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: left;
  }
  .jumbotron nav a {
    color: white;
    text-decoration: none;
  }
  .jumbotron .motto {
    width: 652px;
    text-align: left;
  }
  .jumbotron .motto h1 {
    font-size: 4.5rem;
    color: white;
    border: 1px solid white;
    padding-left: 20px;
  }
  .container {
    width: 1115px;
    margin: 0 auto;
  }
  .col {
    width: 49%;
    display: inline-block;
  }
  #hamburger {
    display: none;
  }
  footer #social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 30px;
  }
  footer #social-media li {
    margin-left: 20px;
  }
  footer #footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #footer-links li {
    margin-right: 20px;
  }
  footer #footer-text {
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */