@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

.jumbotron {
  background-image: url("images/mobile/image-hero.jpg");
}

nav {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

h1,
h2,
h3 {
  font-family: "Alata", sans-serif;
}

.motto {
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  #hamburger {
    display: none;
  }
}
